body{
    margin: 0 100px 0 100px;
    padding: 30px 30px;
}
.CV-container{
    display: flex;
    flex-wrap: nowrap;
}
.left-column{
grid-area: left-column;
padding: 50px;
background-color: #4472C4;
color: white;
flex: 2;
}
.right-column{
    padding: 50px;
    background-color: #9144c4;
    color: white;
flex: 4;
}

