.cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.left-column{
grid-area: left-column;
padding: 50px;
background-color: #4472C4;
color: white;
width: 15%; float: left;
border: 2,5 solid black;
}
.right-column{
    grid-area: right-column;
    padding: 50px;
    background-color: #9144c4;
    color: white;
    width: 50%; float: right;
}

