body{
    margin: 0;
    padding: 0;
}
.CV-container{
    
    display: flex;
    flex-wrap: nowrap;
}
.left-column{
padding: 0 0 0 30px;
background-color: #4472C4;
color: white;
}
.right-column{
    padding: 50px;
    background-color: #9144c4;
    color: white;
}


